

/* CSS Document */
*{padding:0px; margin:0px; border:0px; }
ul,li{list-style:none;}
img{padding:0px; margin:0px; border:0px; }
a{ text-decoration:none;}
/*头部*/
.header{ background:#0084ff none repeat scroll 0 0;  position:fixed; width:100%; height:70px; z-index:999; }
#head{ width:1200px; height:70px; text-align:left; }
h1{width:247px;height:99px;}
h1 a{ background:url(img/LOGOh5.png) no-repeat 0 3px; display:block; width:247px; height:99px;text-indent:-2000px; float:left;   max-width: 100%;}
h1 .web{background:url(img/LOGOweb.png) no-repeat 0 3px; display:block; width:247px; height:99px;text-indent:-2000px; float:left;   max-width: 100%;}

h1 .ui{background:url(img/LOGOui.png) no-repeat 0 3px; display:block; width:247px; height:99px;text-indent:-2000px; float:left;   max-width: 100%;}

.menu{font:16PX/70px "微软雅黑";float:right; margin:0 200px 0 0 ;}
.menu li{display:inline;margin: 0 38px;   display: inline-block;
    padding-left: 5px;
    padding-right: 5px;}
.menu li a{ color:#FFF; font:16PX/70px  "微软雅黑";}
.menu li a.menu_current{color:#fff;  padding:20px 0 20px 0; border-bottom:5px solid #fff}
.menu li a:hover{color:#1db5ea; }
.menu li span{padding:0 30px; color:#0cb591;font-size:14px;}


/*地址*/
.map{ width:100%; height:214px; background:url(img/map.png) no-repeat center;}
.map div{ width:500px; height:214px; margin:0 auto; background:url(img/map_01.png) no-repeat 120px 30px;}
.map div span{ display:block; width:500px; height:214px; background:url(img/map_02.png) no-repeat 100px 125px;}


/*底部*/
#end{ height:405px; background:url(img/bg_end.jpg) repeat-x; clear:both;}
#end h2{ color:#FFF; height:30px; font:30px/30px "微软雅黑"; padding-top:45px; padding-bottom:62px; width:1000px; margin:0 auto;}

#end ul{ height:212px; width:794px; margin:0 auto;}
#end ul li{float:left;}

#end ul li span{ display:block; width:169px; height:18px; font:18px/18px "微软雅黑"; padding-bottom:6px; color:#fff;}

#end ul li i{ display:block; width:88px;height:2px; background:#0084ff;float:left; margin-bottom:13px; overflow:hidden;}
#end ul li i.i_1{width:79px;background:#FFF;}
#end ul li i.i_2{width:120px;background:#FFF;}
#end ul li i.i_3{width:93px;background:#FFF;}
#end ul li i.i_4{width:172px;background:#FFF;}

#end ul li p{color:#fff;padding-left:93px; padding-top:20px; font:16px/30px "微软雅黑";height:153px; clear:both;}

.first_end p{ width:143px; background:url(img/weibo_01.png) no-repeat left top;}


.second_end p a{ width:110px; background:url(img/prop_01.png) center; width:160px; height:49px; display:block; margin-left:-71px;}
.second_end p a:hover{background:url(img/prop_02.png) no-repeat center; }

.three_end p{ width:149px; background:url(img/weibo_03.jpg) no-repeat left top;}
#end ul li.four_end p{ width:223px; padding-top:20px;background:url(img/weibo_04.jpg) no-repeat left top;}


#end ul li.second_end span{width:199px;}
#end ul li.three_end span{width:181px;}
#end ul li.four_end span{width:262px;}


#end h5{ font:normal 14px/56px "微软雅黑"; color:#fff; text-align:center;}
.last_end{ height:39px; background:url(img/last_end.jpg) no-repeat left;}

.more{ 
 
    clear: both;
    height: 36px;
    padding-bottom: 55px;
    width: 100PX;
	margin:0 auto;}

.more a{    
	background:#1db5ea; 
    border: 1px dotted #1db5ea;
    color: #fff;
    display: block;
    font-size: 26px;
    margin:0 auto;
    padding: 5px 0;
    position: relative;
    text-align: center;
    text-decoration: none;

    transition: all 0.3s ease-in-out 0s, top 0.8s ease-in-out 0s;
    width: 120px;}
	
	
	
/* Table 1 Style */
table.table1{
    font-family: "微软雅黑", sans-serif;
    font-size: 16px;

    line-height: 1.4em;
    font-style: normal;
    border-collapse:separate;
    margin: 0 auto;
	width:1000px}
.table1 thead th{

    padding:15px;
    color:#fff;
    background:#0084ff;

    -webkit-border-top-left-radius:5px;
    -webkit-border-top-right-radius:5px;
    -moz-border-radius:5px 5px 0px 0px;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
.thtop{ width:110px} 
.table1 thead th:empty{
    background:transparent;
    border:none;
}
.table1 tbody th{

    color:#ffffff;
    padding:0px 10px;
    background:-webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.02, rgb(158,217,41)),
        color-stop(0.51, rgb(139,198,66)),
        color-stop(0.87, rgb(123,192,67))
        );
    background:#5cb0ff;
    -moz-border-radius:5px 0px 0px 5px;
}
.shu{ width:0px}
.heng{ width:80px}
.table1 tfoot td{
    color: #9CD009;
    font-size:32px;
    text-align:center;
    padding:10px 0px;
    text-shadow:1px 1px 1px #444;
}
.table1 tfoot th{
    color:#666;
}
.table1 tbody td{
    padding:10px;
    text-align:center;
    background-color:#f9f9f9;
    border: 2px solid #f9f9f9;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;
}

.table1 .se{
    padding:10px;
	padding-left:150px;
    text-align: left;
    background-color:#f9f9f9;
    border: 2px solid #f9f9f9;
    -moz-border-radius:2px;
    -webkit-border-radius:2px;
    border-radius:2px;
    color:#666;

}


.table1 tbody span.check::before{
    content : url(../images/check0.png)
}

.table1 tbody span.check2::before{
    content : url(../images/check1.png)
}

.table1 tbody .seee{ padding:10px 10px}



/*QQ部分*/
#qq{ width:153px; height:270px; background:url(img/QQ11.png) no-repeat center; position:fixed; top:131px; right:0px; display:none;}
#small{ display:block; width:35px; height:35px; margin-left:117px;}
#intoa{ display:block; width:150px; height:150px;}
#max{ width:40px; height:128px; display:none; margin-left:113px;}